 
div .card{
  float: left;
  padding: 3%;
} 

.image{
  width: 100px;
  height: 130px;
  margin: 30px;

}
div{
  float: left;
}

/*
.row{
    font-size: 15px;
    padding: 30px;
}


div{
  float: left;
}
 .flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
  }
   
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }  */